.header{
    background: rgb(255, 145, 1);
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 1;
    text-decoration: underline;
    margin-bottom: 20px;
}
.add-form{
    width: 60%;
    margin:auto;
    background-color: rgb(196, 240, 240);
    padding: 10px;
}


.user{
    display: flex;
    flex-direction: column;
    gap: 10px;
  max-width: 45rem;
  margin: auto;
}
.user button{
    margin: 5px;
}
